@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #153677, #4e085f )
}

.container {
    width: 400px;
    margin: 0 10px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
}

h1 {
    font-family: "", sans-serif;
    padding: 15px 7px;
    width: 100%;
    color: rgb(2, 2, 2);
    font-size: 1.5rem;
}

.box {
    border: 2px solid rgb(222, 222, 222);
    border-radius: 25px;
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    background-color: rgba(234, 234, 234, 0.719);
}

#mainInput {
    width: 100%;
    border: none;
    border-radius: 25px;
    min-height: 45px;
    text-align: left;
    padding-left: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    background-color: rgba(234, 234, 234, 0.719);
}

#mainButton {
    border: none;
    width: 130px;
    height: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    font-weight: 600;
    border-radius: 25px;
    background-color: rgb(255, 111, 21);
    color: white;
    box-shadow: 0px 0px 20px grey;
    cursor: pointer;
}

#mainInput:focus {
    outline: none;
    border: none;        /* if border is changing */
    box-shadow: none;    /* if shadow is appearing */
}

#list {
    width: 100%;
    height: auto;
}

li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0;
}

li span {
    flex: 1;
    text-align: left;
}


span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    text-align: center;
}

.delete {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.checkbox {
    border: 2px solid #ff6f15;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    display: inline-grid;
    place-content: center;
}

.checkbox::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: transform .15s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
}

.checkbox:checked {
    background: #ff6f15;
    border-color: #ff6f15;
}

.checkbox:checked::before {
    transform: scale(1);
}

.checkbox:focus {
    outline: none;
    border: 2px solid #ff6f15;
}


