@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 20px rgb(203, 200, 200);
}

.box {
    border: 2px solid rgb(206, 206, 206);
    border-radius: 20px;
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
}

#mainInput {
    width: 100%;
    border: none;
    border-radius: 20px;
    min-height: 40px;
    text-align: left;
    padding-left: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: larger;
}

#mainButton {
    border: none;
    width: 25%;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    font-weight: 600;
    border-radius: 20px;
    background-color: rgb(255, 111, 21);
    color: white;
    box-shadow: 0px 0px 20px grey;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: none;        /* if border is changing */
    box-shadow: none;    /* if shadow is appearing */
}

#list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 20px;
    border: 2px solid black;
}

span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    font-weight: 600;
}

#delete {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}


